/* Cascade Style Sheet for this website */
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    min-height: 48px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.menu ul {
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;;
}

.menu ul li {
    display: inline;
    /*margin-right: 10px;*/
   }

.menu a {
    color: white;
    background-color: rgb(166, 166, 166);
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu a img{
    height: 20px;
    display: inline-block; /* Zorgt ervoor dat het element een blok op dezelfde regel is */
    vertical-align: middle; /* Zorgt ervoor dat de afbeelding verticaal gecentreerd wordt */
    margin-bottom: 5px;
}

.menu {
font-size: 18px;
}

div p {
color: darkgrey;
font-size: 15px;
}

div li {
    color: darkgray;
    margin-left: 20px;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10px;
    padding-right: 10px;
}

input {
    margin-left: 50px;
    width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}



input[type="radio"]{
    margin-left: 10px;
    width: auto;
    box-shadow: none;
    background-color: transparent;
}

input[type="submit"] {
    width: auto;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: 536px;
    transition: transform 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: translate(10px);
}


label {
    width: 150px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
}

select {
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid;
    border-color: rgb(216, 216, 216);
}

textarea{
    margin-left: 50px;
    width: 400px;
    border: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.commentContact{
    margin-left: 150px;
}

.preferenceSentence{
    color: darkgray;
}

.signInButton{
    margin-left: 10px;
}

span {
color: rgb(143, 0, 0);
}

li{
    margin-left: 20px;
    color: rgb(6, 129, 0);
}

.thankYou{
text-align: center;
font-size: 30px;
}

.yourInfo{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}

.bottomText{
    margin-bottom: 40px;
}

.webproduct img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.shoesize img {
    max-width: 350px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

td {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.product img{
    max-height: 250px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Zorgt ervoor dat de container de volledige hoogte van de cel inneemt */
}

.product-name {
    margin-top: -20px;
    margin-bottom: 5px; /* Voegt wat ruimte toe onder de productnaam */
}

.product-photo {
    margin-top: -20px;
    margin-bottom: 5px;
}

.tick-button-wrapper {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 68px;
    }

.number-button {
    width: 25px;
    padding-top: 3px;
    margin-right: -45px;
}

.tick-button {
    width: 25px;
}

.delete-button-wrapper {
    position: relative;
    height: 100%;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 40px;
}

.product[data-productid="5"] img {
        max-height: 220px;
        margin-top: 10px;
    }

.product[data-productid="2"] img {
        max-height: 150px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

.product[data-productid="3"] img {
    max-height: 150px;
    margin-top: 40px;
    margin-bottom: 45px;
    }    

.toevoegen{
    margin-bottom: 10px;
}

.winkelmandtext{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.iconWinkelmand{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 50px;
}

button.shopButton{
    font-size: 18px;
    display: flex;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0 auto 40px;
    padding: 7px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.shopButton:hover{
    background-color: rgb(179, 179, 179);
    color: black;
}

.addCart{
    display: flex;
    height: 30px;
}

.addToCartButton {
    background-color: transparent; /* Or any color you prefer */
    border: none;
    height: 20px;
    padding: 20px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}